@font-face {
  font-family: GibsonB;
  src: url("/fonts/gibson-font/gibson-bold.ttf");
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GibsonB";
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 12vh;
  box-shadow: 0px 10px 54px rgba(0, 0, 0, 0.25);
}

.logoContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.logo {
  height: 7vh;
  width: 10vw;
  object-fit: contain;
}

.brandName {
  color: #40693e;
  font-size: 30px;
}

header i {
  font-size: 30px;
}

.main {
  /* background-image: url("/images/background.jpg");
  background-size: cover; */
  height: 85vh;
  width: 100%;
  position: relative;
}

.whiteFilter {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: sepia(50%);
  opacity: 0.5;
  z-index: 1;
}

.mainContent {
  position: relative;
  z-index: 2;
  padding: 30px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.mainContent .text {
  height: 100%;
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

.mainContent .text p {
  color: #40693e;
  font-size: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.mainContent .text input {
  margin-top: 2vh;
  height: 8vh;
  border: none;
  background: #e1e7df;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  padding: 20px 30px;
  color: #7e8b78;
  width: 100%;
}

*::-webkit-input-placeholder {
  color: #7e8b78;
}

.mainContent .text button {
  width: 100%;
  margin-top: 2vh;
  height: 8vh;
  border: none;
  background: #adc8a1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  padding: 20px 30px;
  color: #40693e;
  transition: 0.1s all ease-in-outr;
}

.mainContent .text button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.mainContent .image {
  height: 100%;
  width: 100%;
  flex: 1;
}

#map {
  position: relative;
  height: 100%;
  width: 100%;
}

footer {
  height: 50vh;
  padding: 30px;
}

.logoFooter {
  height: 10vh;
  width: 20vw;
  object-fit: contain;
}

.downloadButton {
  height: 34px;
  /* width: 7vw; */
  object-fit: contain;
  object-position: left;
}

footer * {
  font-family: "Nunito";
}

.tableContainer {
  display: flex;
  justify-content: center;
}

footer table {
  width: 70%;
}

footer table td {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.lastRow td {
  border-top: 2px solid #40693e;
}

.lastRow tr {
  margin-top: 2vh;
}

.copyright {
  text-align: center;
  margin-top: 5vh;
}

footer table i {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: unset;
}

.terms {
  margin: 40px;
  font-family: "Nunito";
}

.terms * {
  font-family: "Nunito";
}

.terms h1 {
  margin-left: 1vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
  font-weight: bold;
}
